@page
@model RazorPageSample.Pages.Club.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Clubs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Clubs.Id" />
            <div class="form-group">
                <label asp-for="Clubs.Name" class="control-label"></label>
                <input asp-for="Clubs.Name" class="form-control" />
                <span asp-validation-for="Clubs.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clubs.FoundingYear" class="control-label"></label>
                <input asp-for="Clubs.FoundingYear" class="form-control" />
                <span asp-validation-for="Clubs.FoundingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clubs.TransferBudget" class="control-label"></label>
                <input asp-for="Clubs.TransferBudget" class="form-control" />
                <span asp-validation-for="Clubs.TransferBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clubs.ArenaCapacity" class="control-label"></label>
                <input asp-for="Clubs.ArenaCapacity" class="form-control" />
                <span asp-validation-for="Clubs.ArenaCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clubs.ArenaName" class="control-label"></label>
                <input asp-for="Clubs.ArenaName" class="form-control" />
                <span asp-validation-for="Clubs.ArenaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
